//
// Skeleton test workflow — testWorkflow
//

params {
    help    = false
    version = false
    out_dir = "output"
    disable_ping = false

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,wf'

    wf {
        container_sha = "sha256:962f6cadeae0ea6284001009daa4cc9a8c37e75d1f5191cf0eb83fe565b63dd7"
        example_cmd = []
    }
}

epi2melabs {
    tags = 'recx-testflow'
}

manifest {
    name            = 'recxjdv/testWorkflow'
    author          = 'recxjdv'
    homePage        = ''
    description     = 'Skeleton test workflow.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v0.9.0'
}

process {
    withLabel:recx {
        container = "ubuntu@${params.wf.container_sha}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    // the "standard" profile is used implicitly by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled    = true
        }
    }

    singularity {
        singularity {
            enabled    = true
            autoMounts = true
        }
    }

    conda {
        conda.enabled = true
    }

    local {
        process.executor = 'local'
    }
}

timeline {
    enabled   = true
    overwrite  = true
    file       = "${params.out_dir}/execution/timeline.html"
}
report {
    enabled   = true
    overwrite  = true
    file       = "${params.out_dir}/execution/report.html"
}
trace {
    enabled   = true
    overwrite  = true
    file       = "${params.out_dir}/execution/trace.txt"
}

env {
    PYTHONNOUSERSITE    = 1
    JAVA_TOOL_OPTIONS   = "-Xlog:disable -Xlog:all=warning:stderr"
}
